<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.newsoft.dao.IUserDao">
	<!-- 按条件查找数据 -->
	<select id="selectUserByUserName" resultType="User">
		select * from usertb where userLoginName = #{UserLoginName}
	</select>
</mapper>	